@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  